*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    width: 100vw;
}

 

a{

    text-decoration: none;
}
 
.header_title{

    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.header_description{

    
    /* width: 568px; */
    text-align: center;
    /* padding-left: 300px; */
}

.cardcontainer{

    
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    /* border-radius: 10px; */
}

.card{


    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 10px;
    /* margin: 50px; */
    max-width: 75rem;
    align-items: center;
    margin: 20px;
}

.card_img_container{

    position: relative;
    overflow: hidden;
    height: 14rem;
    width: 14rem;
}

.card_title_container{

    margin-top: 10px;
    margin-left: 10px;
}

.cardtitle{

    color: black;
}

.card_title_anchor:hover .cardtitle{

    color: rgb(19, 19, 144);
}

.carddiscription{

    color: brown;
}

.crad_footer_container{

    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: flex-end;
}

.author_container{

    display: flex;
    align-items: center;
    gap: 10px;

}

.author_avatar_container{

    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(14, 14, 14, 0.171);
    border-radius: 10px;
    background-color: rgb(199, 198, 198);
}

.author_info_container{

    display: flex;
    flex-direction: column;
}

.author_name{

    color: blue;
}

.author_date{
    color: gray;
}

.card_tag_container{

    font-size: 1rem;
    border: 1px solid rgb(142, 140, 140);
    border-radius: 2px;
    padding: 0.5rem 0.5rem;
}